
body {
    display: grid;
    grid-template-rows: 128px 1fr 128px 320px;
    grid-template-areas: 'top' 'main' 'form1' 'form2';
    justify-content: center;

    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h3 {
    margin: 0;
}


header {
    grid-area: top;
    
}

main {
    grid-area: main;
}

sub {
    margin: 0;
    padding: 0;
}

.project {
    margin: 0;
}

.project-el, .task-el {
    border: 2px;
    border-style: solid;
    border-color: red;
}

#project-form {
    grid-area: form1;

    width: 512px;

    display: grid;
}

#task-form {
    grid-area: form2;

    width: 512px;

    display: grid;
}